a img.me {
    border-radius: 50%;
}

nav {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 1.5%;
}
i.github {
    margin-left: 25%;
    margin-right: 10%;
}
#navbarSupportContent{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 3%;
    
}
img.me {
    border-radius: 50%;
}
