a img.me {
    border-radius: 50%;
}

nav {
    font-family: 'Poppins', sans-serif;
}
i.github {
    margin-left: 25%;
    margin-right: 10%;
}
#navbarSupportContent{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 3%;
}