<div class="col-md-12 form">
    <div>
        <form>
            <div class="input">
                <input type="text" class="form-control search" placeholder="Search GitHub username..." aria-label="search" aria-describedby="basic-addon1">
                <br>
                <button type="submit" class="btn btn-success submit">Search GitHub & Repositories</button>
            </div>
        </form>
        <hr>
    </div>
    <div class="list">
        <h5 class="heading">Profile</h5>
        <img src="/assets/me.jpg" alt="" class="dp" height="200">
        <h5 class="myname">moses karani</h5>
        <p class="username">Username: Morces</p>
        <div class="details">
            <div class="follow">
                <i class="bi bi-people people"></i>
                <span> 23 followers <span>51 following</span> </span>
            </div>
        </div>
        <div class="info">
            <i class="bi bi-building"></i><span> Moringa School</span><br>
            <i class="bi bi-geo-alt"></i><span> Nairobi, Kenya</span><br>
            <i class="bi bi-envelope"></i><span> karanim594@gmail.com</span><br>
            <i class="bi bi-twitter"></i><span><a href="http//:twitter.com/morces_c"></a> morces_c</span>
        </div>
    </div>
</div>



