<div class="form" *ngIf="showContents">
    <div class="profile">
        <div class="input">
                <form (ngSubmit)="search()" #searchForm="ngForm" name="searchForm">
                    <input type="text" class="form-control search" [(ngModel)]="username" name="username" placeholder="Search GitHub username..." aria-label="search" aria-describedby="basic-addon1">
                    <br>
                    <button type="submit" class="btn btn-success submit">Search GitHub & Repositories</button>
                </form>
        </div>
    <div class="list">
        <h5 class="heading">Profile</h5>
        <img src="/assets/me.jpg" alt="" class="dp" height="200">
        <h5 class="myname">moses karani</h5>
        <p class="username">Username: Morces</p>
        <div class="details">
            <div class="follow">
                <i class="bi bi-people people"></i>
                <span> 23 followers <span>51 following</span> </span>
            </div>
        </div>
        <div class="info">
            <i class="bi bi-building"></i><span> Moringa School</span><br>
            <i class="bi bi-geo-alt"></i><span> Nairobi, Kenya</span><br>
            <i class="bi bi-envelope"></i><span> karanim594@gmail.com</span><br>
            <i class="bi bi-twitter"></i><span><a href="http//:twitter.com/morces_c"></a> morces_c</span>
        </div>
    </div>
    </div>
    <div class="row myrepos">
        <h6 class="my"><i class="bi bi-journal-bookmark"></i> My Repositories</h6>
        <hr class="line">
        <div class=" col-md-6 cardy">
            <div class="card">
                <p><a href="http://github.com/Morces/githib-search" target="_blank">github-search</a><span class="pub">Public</span></p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/quotes">quotes</a><span class="pub">Public</span></p>
                <p>Description: This is an application where a user can view quotes, add, delete and/vote using thumbs-up or thumbs-down feature.</p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/goals">goals</a><span class="pub">Public</span></p>
                <p>Description: An Angular app that enables a user update/add or delete their goals.</p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/sidebar">sidebar</a><span class="pub">Public</span></p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/glassmorphism">glassmorphism</a><span class="pub">Public</span></p>
                <p>Description: A short glassmorphism card</p>
            </div>
            <br>
        <div class="card">
            <p><a href="http://github.com/Morces/pizza-place">pizza-place</a><span class="pub">Public</span></p>
            <p>Description: Pizza-place is a website for ordering pizzas</p>
        </div>
        <br>
        <div class="card">
            <p><a href="http://github.com/Morces/Week-1-Content">Week-1-Content</a><span class="pub">Public</span></p>
        </div>
        <br>    
        <div class="card">
            <p><a href="http://github.com/Morces/delani-studio">delani-studio</a><span class="pub">Public</span></p>
            <p>Description: Delani Studio portfolio</p>
        </div>
        <br>    
        <div class="card">
            <p><a href="http://github.com/Morces/testing">testing</a><span class="pub">Public</span></p>
        </div>   
        <br>
        <div class="card">
            <p><a href="http://github.com/Morces/yolomy-website">yolomy-website</a><span class="pub">Public</span></p>
        </div>    
        <br>   
        <div class="card">
            <p><a href="http://github.com/Morces/j-query-practice">j-query-practice</a><span class="pub">Public</span></p>
        </div>    
        <br> 
        </div>
        <div class="col-md-6">
            
            <div class="card">
                <p><a href="http://github.com/Morces/akan-name-generator">akan-name-generator</a><span class="pub">Public</span></p>
                <p>Description: Akan name generator</p>
            </div> 
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/portfolio">portfolio</a><span class="pub">Public</span></p>
                <p>Description: This is my portfolio</p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/hospital-ms">hospital-ms</a><span class="pub">Public</span></p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/animation">animation</a><span class="pub">Public</span></p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/Digi-Fua">Digi-Fua</a><span class="pub">Public</span></p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/quiz-board">quiz-board</a><span class="pub">Public</span></p>
                <p>Description: A JavaScript quiz for a high school computer club.</p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/insurance-website">insurance-website</a><span class="pub">Public</span></p>
                <p>Description: Insurance website landing page</p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/burger-palace-project">burger-palace-project</a><span class="pub">Public</span></p>
            </div><br>
            <div class="card">
                <p><a href="http://github.com/Morces/30-Days-Of-JavaScript">30-Days-Of-JavaScript</a><span class="pub">Public</span></p>
            </div>
            <br>
            <div class="card">
                <p><a href="http://github.com/Morces/hello-world">hello-world</a><span class="pub">Public</span></p>
                <p>Description: for learning purposes</p>
            </div>
        </div>
    </div>
    <footer>
        <p><small>Made with love by Moses Karani</small></p>
    </footer>
</div>
<app-search-results *ngIf="showData" (toggleBack)="showUserInput($event)"></app-search-results>



